html{
    background: url('../image/main.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

*{
    margin: 0px;
    padding: 0px;
}